@font-face {
  font-family: "iconfont"; /* Project id 5059315 */
  src: url('iconfont.woff2?t=1762444213205') format('woff2'),
       url('iconfont.woff?t=1762444213205') format('woff'),
       url('iconfont.ttf?t=1762444213205') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wangyiyunyinle:before {
  content: "\ea4b";
}

.icon-wangyiyunyinle1:before {
  content: "\e60f";
}

.icon-cancel-1-copy:before {
  content: "\e61a";
}

.icon-weibo:before {
  content: "\e73c";
}

.icon-QQ:before {
  content: "\e73e";
}

.icon-wangyi:before {
  content: "\e600";
}

.icon-wangyiyun:before {
  content: "\e603";
}

.icon-weixin:before {
  content: "\e607";
}

